<div class="w-full h-screen hidden bg-black bg-opacity-10 absolute justify-center flex-col items-center cursor-pointer" id="srch" onclick="hidden_srch()">

</div>
<div class="w-full sm:w-3/6 bg-white p-5 rounded-md h-screen sm:h-4/5 md:h-96 m-auto absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 hidden" id="srch_2">
    <div class="block w-full">
        <div class="flex justify-end sm:hidden">
            <button onclick="hidden_srch()">
                Tutup
            </button>
        </div>
        <input type="text" class="outline-none bg-white px-4 py-2 w-full" placeholder="Search">
        <hr>
        <div class="w-full mt-5 h-screen sm:h-64 overflow-y-scroll">
            <div class="bg-slate-100 w-full p-2 cursor-pointer rounded-sm hover:bg-gradient-to-r hover:from-birutua hover:to-ungumuda hover:text-white my-2">
                <h2 class="text-xl font-bold">Cara Mengerjakan Web</h2>
                <p>Naufal Azmi</p>
            </div>
            <div class="bg-slate-100 w-full p-2 cursor-pointer rounded-sm hover:bg-gradient-to-r hover:from-birutua hover:to-ungumuda hover:text-white my-2">
                <h2 class="text-xl font-bold">Cara Mengerjakan Web</h2>
                <p>Naufal Azmi</p>
            </div>
            <div class="bg-slate-100 w-full p-2 cursor-pointer rounded-sm hover:bg-gradient-to-r hover:from-birutua hover:to-ungumuda hover:text-white my-2">
                <h2 class="text-xl font-bold">Cara Mengerjakan Web</h2>
                <p>Naufal Azmi</p>
            </div>
            <div class="bg-slate-100 w-full p-2 cursor-pointer rounded-sm hover:bg-gradient-to-r hover:from-birutua hover:to-ungumuda hover:text-white my-2">
                <h2 class="text-xl font-bold">Cara Mengerjakan Web</h2>
                <p>Naufal Azmi</p>
            </div>
        </div>
    </div>
</div>
<div class="w-fullpx-10 py-4 justify-center hidden sm:flex bg-slate-50">
    <a href="/" class="text-2xl font-bold">E2T Forum</a>
    <div class="sm:w-1/5 md:w-2/5 bg-slate-200 sm:ml-36 md:ml-40 xl:ml-64 rounded-md cursor-pointer hover:bg-slate-300 px-7 py-1 flex"
        onclick="show_srch()">
        <p>Search</p>
    </div>
    <div class="ml-20 flex">
        <div class="hover:bg-slate-200 px-6 py-1 rounded-md">
            <a href="/">Home</a>
        </div>
        <div class="hover:bg-slate-200 px-6 py-1 rounded-md">
            <a href="/logout/">Logout</a>
        </div>
    </div>
</div>